---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.svelte'
---

<Layout title="animecard">
	<main>
		<h1>animecard</h1>
    <App client:only="svelte" />
	</main>
</Layout>