---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div>
      <a href="/">トップ</a> / <a href="/create">作成</a> / <a href="/list">リスト</a> 
    </div>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-color: #ffffff;
  }
  body {
    margin: 0 auto;
    max-width: 80ch;
    padding: 16px;
    line-height: 1.7;
    font-size: 17px;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    padding: 10px;
  }

  tbody {
    width: max-content;
  }

  table tr:nth-child(even) td {
    background: #9cadc212;
  }

  th {
    border: 1px solid #d0d7de;
    padding: 6px 13px;
    font-weight: 600;
    text-align: left;
  }

  td {
    border: 1px solid #d0d7de;
    padding: 6px 13px;
  }

  #c1 {
    width: 60px;
  }
</style>
